<aside id="categories-3" class="widget widget_categories">
	
	<h1 class="widget-title">Categories</h1>

	<ul>
		{{ $baseurl := .Site.BaseURL }}
		{{ range $key, $value := .Site.Taxonomies.categories }}
		
		<li class="cat-item">
			<a href="{{ $baseurl }}/categories/{{ $key | urlize }}">{{ $key | title }}</a>&emsp;<a class="unhidevalues">[+]</a>
			<ul class="hiddenvalues">{{ range $value }} <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
   {{ end }}</ul>
		</li>

		{{ end }}

	</ul>
</aside>
